<div class="conten-general">
    <div class="form-conten animate__animated animate__fadeInDown">
        <div class="text-center">
            <img class="img-conten" [src]="funService.imgHome" alt="">
        </div>
        <div class="mt-2">
            <h4 class="text-center mb-3 title">Our task</h4>
            <div class="text-center">
                Nuestra tarea es asegurar y tener al tanto los trabajos que se le asingaron
                a la persona en mi mando. aquí se le informará sobre los trabajos asignados 
                del curso las cuales de deben cumplirse. atentamente admin de <b>our task.</b><br><br>
                Copyright © {{anio}} - <b>José Antonio Rojas</b>
            </div>
        </div>
    </div>
    <div class="fixed-bottom animate__animated animate__fadeIn decorator" style="height: 150px; overflow: hidden;" >
      <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
        <path d="M0.00,49.98 C149.99,150.00 349.03,-19.23 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgba(187, 187, 187, 0.877);">
        </path>
      </svg>
    </div>
</div>

