.conten-general{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.conten-login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form-conten{
    width: 50%;
    margin: 0 auto;
    height: 350px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
form{
    padding: 20px;
}
